@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9fafb; /* gray-50 */
  color: #111827; /* gray-900 */
}

a {
  color: inherit;
  text-decoration: none;
}

